.MainLogo {
    background-image: url("./src/svg/MainLogo.svg");
    margin-left: 10px;
    margin-top: 10px;
    height: 120px;
    width: 300px;
    background-repeat: no-repeat;
}

.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
}
.modal-window {
    background: white;
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    position: fixed;
    left: 50%;
    top: 50%;
    width: 400px; /*가로길이 설정은 여기서*/
    margin-left: -200px; /*width의 반만큼 음수로*/
    height: 500px; /*세로길이 설정은 여기서*/
    margin-top: -300px; /*height의 반만큼 음수로*/
    z-index: 1000;
}
#modal .title {
    padding-left: 10px;
    display: inline;
    color: black;
}
    

#modal .title h2 {
    font-family: 'Noto Serif Thai';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 90px;
    text-align: center; 

    color: #000000;
    
    position: absolute;
    width: 370px;
    height: 90px;
    left: calc(50% - 370px/2 + 0.5px);
    top: calc(50% - 90px/2 - 188.5px);
    

    background: #DBD2D1;
    border: 1px solid #000000;
    border-radius: 20px;
}

#modal .close-area {
    position: absolute;
    left: 94%;
    right: 6.21%;
    top: 2.45%;
    bottom: 89.36%;
    padding-right: 10px;
    cursor: pointer;
    color: black;
    
}

#modal .content {
    margin-top: 20px;
    position: absolute;
    top: 20%;
    left: 8%;

    color: black;
    font-family: 'Noto Serif Thai';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
}

#modal .detail {
    position: absolute;
    width: 370px;
    height: 46px;
    left: calc(50% - 370px/2 + 0.5px);
    bottom: 5%;

    background: #C5DCD5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    
    font-family: 'Noto Serif Thai';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    /* identical to box height */
    text-align: center;
    color: #000000;
}