* {
    box-sizing: border-box;
    background-color: whitesmoke;
  }
  
  html,
  body {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .App h1 {
    font-size: 4rem;
  }
  
  .App .Header {
    display: flex;
    width: 800px;
    flex-direction: column;
    justify-content: center;
  }
  
  .Keyword {
    width: 800px;
    font-size: 2rem;
    text-align: center;
    border: 3px solid #ccc;
    border-radius: 5px;
  }
  
  .Keywords {
    z-index: 1;
    font-size: 2rem;
    background-color: white;
    display: none;
    position: absolute;
    top: 215px;
    width: 800px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .Keywords li:hover {
    cursor: pointer;
    background-color: blue;
    color: white;
  }
  
  .Keywords .active {
    background-color: blue;
    color: white;
  }
  
  .Keywords ul {
    padding: 0;
    margin: 0;
  }
  
  .Keywords li {
    list-style: none;
    padding-left: 10px;
  }
  
  .SearchResults {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 400px);
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.MainLogo {
    background-image: url("./src/svg/MainLogo.svg");
    margin-left: 10px;
    margin-top: 10px;
    height: 120px;
    width: 300px;
    background-repeat: no-repeat;
}

/* 카드 */ 
#card_container {
    /* padding: 40px 80px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

#card {
    margin-top:20px;
    margin-right:25px;
    margin-bottom:10px;
    margin-left:25px;

    box-sizing: border-box;
    width: 326px;
    height: 260px;

    background: #A9C5B9;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;

    padding: 0;
}

.card_ul {
    padding: 0;
}

#attribute {
    margin: 0 auto;
    margin-bottom:20px;
    box-sizing: border-box;
    width: 118px;
    height: 42px;

    background: rgba(0, 0, 0, 0.45);
    border: 1px solid #000000;
    border-radius: 30px;

    text-align: center;
    font-family: 'Noto Serif Thai';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 42px;

    color: #FFFFFF;
}

#btn-modal { 
    margin-left: 43px;
    margin-bottom:20px;

    width: 240px;
    height: 106px;

    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    font-family: 'Noto Serif Thai';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #000000;
}

#logo {
    margin: 0 auto;
    margin-bottom:20px;

    box-sizing: border-box;
    width: 138px;
    height: 30px;
    border: 1px solid #000000;
    border-radius: 5px;
} 

/* 팝업 */ 

.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
}
.modal-window {
    background: white;
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    position: fixed;
    left: 50%;
    top: 50%;
    width: 400px; /*가로길이 설정은 여기서*/
    margin-left: -200px; /*width의 반만큼 음수로*/
    height: 500px; /*세로길이 설정은 여기서*/
    margin-top: -300px; /*height의 반만큼 음수로*/
    z-index: 1000;
}
#modal .title {
    padding-left: 10px;
    display: inline;
    color: black;
}
    

#modal .title h2 {
    font-family: 'Noto Serif Thai';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 90px;
    text-align: center; 

    color: #000000;
    
    position: absolute;
    width: 370px;
    height: 90px;
    left: calc(50% - 370px/2 + 0.5px);
    top: calc(50% - 90px/2 - 188.5px);
    

    background: #DBD2D1;
    border: 1px solid #000000;
    border-radius: 20px;
}

#modal .close-area {
    position: absolute;
    left: 94%;
    right: 6.21%;
    top: 2.45%;
    bottom: 89.36%;
    padding-right: 10px;
    cursor: pointer;
    color: black;
    
}

#modal .content {
    margin-top: 20px;
    position: absolute;
    top: 20%;
    left: 8%;

    color: black;
    font-family: 'Noto Serif Thai';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
}

#modal .detail {
    position: absolute;
    width: 370px;
    height: 46px;
    left: calc(50% - 370px/2 + 0.5px);
    bottom: 5%;

    background: #C5DCD5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    
    font-family: 'Noto Serif Thai';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    /* identical to box height */
    text-align: center;
    color: #000000;
}
